<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <style type="text/css">
        table {
            border-collapse: collapse;
        }
        table td, table th {
            border-bottom: 1px solid black;
            padding: 3px;
            vertical-align: top;
            text-align: left;
        }
    </style>
</head>
<body>
<p><strong>BITTE BEACHTEN SIE, DASS ES SICH HIERBEI UM EINE TESTUMGEBUNG HANDELT UND KEIN ECHTER BEITRITTSANTRAG VERSENDET WIRD!</strong></p>

<img src="http://static.dlrg.de/global/layout/2013/img/logo.png" >

<p>Hallo %1$s,<br>
<br>
wir haben Ihren Mitgliedsantrag erhalten und werden ihn schnellstmöglich bei Ihnen melden.
Unten finden Sie noch einmal Ihre Daten zur Kontrolle.<br>
Wir danken für Ihr Vertrauen und freuen uns auf Sie!
</p>

<table>
%2$s
</table>
</body>
</html>