<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<!--  Meta 2.5 -->
	<meta http-equiv="content-language" content="de"/>
	<meta name="robots" content="noindex, nofollow"/>
	<!--  [end] Meta 2.5 -->
	
	<!-- DLRG Webvorlage - Ausfuehrung php - Version 3.0.3 -->
	
	<link rel="shortcut icon" type="image/x-icon" href="/global/layout/2013/img/favicon.ico" />

	<title>DLRG - %1$s - Mitgliedsantrag</title>

	<!-- Framework CSS -->
	<link rel="stylesheet" href="/global/layout/2013/css/screen.css" type="text/css" media="screen, projection"/>
	<link rel="stylesheet" href="/global/layout/2013/css/menu.css" type="text/css" media="screen, projection"/>
	<link rel="stylesheet" href="/global/layout/2013/css/fixes.css" type="text/css" media="screen, projection"/>
	<link rel="stylesheet" href="/global/layout/2013/css/print.css" type="text/css" media="print"/>
	<!--[if lt IE 8]><link rel="stylesheet" href="/global/layout/2013/css/ie.css" type="text/css" media="screen, projection"/><![endif]-->
	<style type="text/css">
	@import "/global/layout/script/jquery.datepick.dlrg.css";
	@import "/global/layout/images/famfamfam.css";
	img {margin: 0 0 -3px;}
	form div.navBar {
	    background: none;
	    clear: none;
	    width: auto;
	    margin: 0; padding: 0;
	}
	</style>
	<script type="text/javascript" src="lib/jquery/jquery-1.11.3.min.js"></script>
	<script type="application/javascript" src="lib/jquery/jquery.plugin.js"></script>
	<script type="text/javascript" src="/global/layout/2013/js/jquery.nivo.slider.pack.js"></script>
	<script type="text/javascript" src="/global/layout/2013/js/nivo.slider.conf.js"></script>
	<script type="text/javascript" src="/global/layout/2013/js/jquery.accordion.js"></script>
	<script type="text/javascript" src="/global/layout/2013/../script/jquery.datepick.js"></script>
	<script type="text/javascript" src="/global/layout/2013/../script/jquery.datepick-de.js"></script>

	<link rel="home" title="Home" href="/" />

</head>
<body id="contentseite">

	<div id="container"><a id="oben" name="oben"></a><!-- Beginn Container -->
		<div id="menu_meta">
			<ul>
				<li><a href="/">Startseite</a></li>
			</ul>
		</div>
		<div id="logo">
			<a href="/" title="zur Startseite"><img src="/global/layout/2013/img/logo.png" alt="Logo DLRG"/></a>
		</div>
		<div id="header">
			<img src="/global/layout/2013/medien/header_img/contentseite/dlrg_flagge.jpg" style="margin:0px" alt="header"/>

			<div id="title">
				<h1>Mitgliedsantrag</h1>
			</div>
			<div id="header_sidebar">
				<div id="unit">
					<h2><a href="http://www.dlrg.de">Deutsche Lebens-Rettungs-Gesellschaft e. V.</a></h2>
					<h2>%1$s</h2>
				</div>
			</div>
		</div>
		<div id="menu_main">
			<ul><li><strong>Mitgliedsantrag</strong></li></ul>
		</div>

		<div id="search" style="height: 36px">
			&nbsp;
		</div>

		<div id="menu_root"><p><a href="/"><img src="/global/layout/2013/img/icon_menu_root_startseite.png" alt="Icon Startseite"/></a>&nbsp;&bull;&nbsp;<a href="#">Mitgliedsantrag</a></p></div>

		<div id="left" style="height: 10px">
		</div>

		<div class="ms_sb_full" id="content">
			<div class="notfallbox">
				<h3>Achtung!</h3>
				<p>
					Bitte beachten Sie, dass es sich hier nur um ein Test-Formular handelt. Es wird kein offizieller
					Mitgliedsantrag ausgefüllt und abgesendet.
				</p>
			</div>
			%2$s
		</div>
	</div><!-- Ende Container -->

	
	<!-- Beginn Footer -->
	<div id="footer">
		<div id="container_footer">
		</div>
	</div>
	<!--  Ende Footer -->
</body>
</html>
